<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">ToolBox API Admin Console</h1>
        <p class="lead">Welcome,This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>


            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>
                <a class="alert-link">Contact Admin or use "user" as username/password for DEMO</a>
            </div>
        </div>

        <p>
            If you need Assistance on Any Projects :
        </p>

        <ul>
            <li><a href="https://github.com/SheikhZayed" target="_blank" rel="noopener">Ashif on Github</a></li>
            <li><a href="mailto:admin@ashif.me" target="_blank" rel="noopener">Shoot a mail to admin@ashif.me</a></li>
            <li><a href="https://www.ashif.me" target="_blank" rel="noopener">Ashif's webpage</a></li>
            <li><a href="https://twitter.com/@_almukthar" target="_blank" rel="noopener">follow @ashif on Twitter</a></li>
        </ul>

    </div>
</div>
